= form_for(@user, :html => {:id => 'loginform'}) do |f|
  %ul
    %li
      = f.label :name, "名字："
      = f.text_field :name, :class => "{required:true, messages:{required:'请输入名字'}}", :requried => "required"
      %p.tips
    %li
      = f.label :email, "邮箱："
      = f.text_field :email, :class => "{required:true, email:true,messages:{required:'请输入邮箱', email:'邮箱格式不正确'}}", :requried => "required"
      %p.tips
    %li
      = f.label :password, "密码："
      = f.password_field :password, :class => "{required:true, minlength:6,messages:{required:'请输入密码',minlength:'密码不能小于6位'}}", :requried => "required"
      %p.tips
    %li.submit
      %button{:type => "submit"} 注 册
      %a.link-r{:href => "/login"} 已经注册？

- content_for :footers do
  = javascript_include_tag "plugin/validate", "plugin/metadata", "dev/setting"
