= form_for(@user, :html => {:id => 'loginform'}) do |f|
  %ul
    %li
      = f.label :name, "名字："
      = f.text_field :name, :class => "i-text"
    %li
      = f.label :email, "邮箱："
      = f.text_field :email, :class => "i-text", :requried => "required"
    %li
      = f.label :password, "密码："
      = f.password_field :password, :class => "i-text", :requried => "required"
    %li.submit
      %button{:type => "submit"} 注 册
      %a.reg{:href => "/login"} 已经注册？
