.person-info
  .lt
    .avar
      = image_tag(@user.avatar_path(:medium), :alt => @user.name)
    %h1= @user.name
    -#
      .contact
        %a.ico-douban.ico{:href => "#", :target => "_blank", :rel => "nofollow"}
        %a.ico-weibo.ico{:href => "#", :target => "_blank", :rel => "nofollow"}
  .rt
    -#
      %ul
        %li
          %em 2011-9
          至今
        %li
          %em 783
          笔记
        %li
          %em 23
          解答
        %li
          %em 33
          喜爱
        %li
          %em 33
          关注
        %li
          %em 33
          被关注
        = link_to "", "javascript:void(0)", :class => "follow ico-ui-follow"
%nav.catebar
  %ul
    %li.current
      = link_to "日期", "#"
    %li
      = link_to "品种", "#"
    %li
      = link_to "求名", "#"
.main
  %ul.p-lists
    - @pictures.each do |p|
      %li
        %a{:href => picture_path(p.id)}
          .p-top
            .name= p.plant_name['zh']
          = image_tag(p.image.url(:medium), :alt => p.plant_name['zh'])

  = paginate @pictures, :outer_window => 1
