.single-main.setting
  %h1 修改密码
    
  = form_for "", {:url => "/settings/update_password"} do |f|
    %dl.form
      %dt
        = f.label :old_password, "当前密码："
      %dd
        = f.password_field :old_password
      %dt
        = f.label :new_password, "新密码："
      %dd
        = f.password_field :new_password
      %dt
        = f.label :new_password_confirm, "确认新密码："
      %dd
        = f.password_field :new_password_confirm
        
      %dt.submit
        = f.submit '保 存'