= form_for "", {:url => "/settings/update_password", :html => {:id => "getpwd"}} do |f|
  %ul
    %li
      = f.label :old_password, "原密码："

      = f.password_field :old_password, :required => "required", :class => "{required:true, minlength:6, messages:{required:'请输入密码', minlength:'最少6位'}}"
      %p.tips

    %li
      = f.label :new_password, "新密码："

      = f.password_field :new_password, :required => "required", :class => "{required:true, minlength:6, messages:{required:'请输入密码', minlength:'最少6位'}}"
      %p.tips

    %li
      = f.label :new_password_confirm, "重复一遍："

      = f.password_field :new_password_confirm, :required => "required", :class => "{required:true, minlength:6, equalTo: '#new_password',messages:{required:'请输入密码', minlength:'最少6位', equalTo: '两次输入不一致'}}"
      %p.tips

    %li.submit
      %button{:type => "submit"} 保存新密码
      = link_to "不保存，直接返回帐户设置", "/settings/profile", :class => 'link-r'

- content_for :footers do
  = javascript_include_tag "plugin/validate", "plugin/metadata", "dev/setting"
