= form_for "", {:url => "/settings/update_password", :html => {:id => "getpwd"}} do |f|
  %ul
    %li
      = f.label :old_password, "原密码："

      = f.password_field :old_password, :required => "required"
      %p.tips

    %li
      = f.label :new_password, "新密码："

      = f.password_field :new_password, :required => "required"
      %p.tips

    %li
      = f.label :new_password_confirm, "重复一遍："

      = f.password_field :new_password_confirm, :required => "required"
      %p.tips

    %li.submit
      %button{:type => "submit"} 保 存
      = link_to "返回帐户设置", "/settings/profile", :class => 'reg'

- content_for :footers do
  = javascript_include_tag "plugin/validate", "dev/setting"
