= form_for [:admin, @tag] do |f|
  -if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg

  %dl.form
    %dt= f.label :name, "名称："
    %dd= f.text_field :name, :required => "required"
    %p.tips

    %dt= f.label :usage, "类型："
    %dd= f.select :usage, options_for_select(Tag.usages, @tag.usage)
    %p.tips

    %dt= f.label :css_name, "图标名称："
    %dd= f.text_field :css_name, :required => "required"
    %p.tips

    %dt= f.label :description, "描述："
    %dd= f.text_area :description
    %p.tips

  %dt.submit
    = f.submit '保 存'
