= form_for @plant do |f|
  -if @plant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plant.errors.count, "error")} prohibited this plant from being saved:"
      %ul
        - @plant.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
