= form_for(@plant,:html =>{:multipart => true}) do |f|
  %dl.form
    %dt
      = f.label :latin_name, "拉丁学名："
    %dd
      = f.text_field :latin_name

    %dt
      = f.label :zh_name, "中文名称："
    %dd
      = f.text_field :zh_name
      = link_to "+", "javascript:void(0)", :class => "add-item"
    
    %dt
      = f.label :english_name, "英文名称："
    %dd
      = f.text_field :english_name
      = link_to "+", "javascript:void(0)", :class => "add-item"

    %dt
      = f.label :family, "属性："
    %dd
      %ul.choose-class
        %li
          = f.select(:phylum_name, @phylum_name.map{|p| p },{:autocomplete => "off", :prompt => "－－"})
        %li
          %select#plant_pclass_name{:style => 'display:none'}
            %option －－
        %li
          %select#plant_porder_name{:style => 'display:none'}
            %option －－
        %li
          %select#plant_class_name{:style => 'display:none'}
            %option －－
        %li
          %select#plant_genus_name{:style => 'display:none'}
            %option －－

    %dt
      = f.label :characteristic, "特征："
    %dd
      = render '/widgets/category'
      //= f.text_area :characteristic

    %dt
      = f.label :description, "介绍："
    %dd
      = f.text_area :description, :style => "width:90%", :autocomplete => "off"

      = hidden_field_tag "version_id", @version_id
      = hidden_field_tag "picture_id", params[:picture_id]
      
    %dd.submit
      = f.submit '保 存'

