= form_for(@plant,:html =>{:multipart => true}) do |f|
  %dl.form
    %dt
      = f.label :zh_name, "中文名称："
    %dd
      = f.text_field :zh_name
      待选
    
    %dt
      = f.label :english_name, "英文名称："
    %dd
      = f.text_field :english_name
      待选
    
    %dt
      = f.label :latin_name, "拉丁学名："
    %dd
      = f.text_field :latin_name
 

    %dt
      = f.label :family, "属性："
    %dd
      门
      %select
      纲
      %select
      目
      %select
      科
      %select
      亚科
      %select
      属
      %select

    %dt
      = f.label :characteristic, "特征："
    %dd
      = f.text_area :characteristic
      此处待定，为点击选择图标即可

    %dt
      = f.label :description, "介绍："
    %dd
      = f.text_area :description

    %dt
      %em *
      附图：
    %dd
      = file_field_tag "filedata"
      %p.tips<
        图片尺寸：288px × 180px
      
    %dd.submit
      = f.submit '保 存'

