.person-info
  .lt
    %h1 全部（或搜索关键词）
  .rt
    %ul
      %li
        %em 783
        照片

.main
  %ul.p-lists
    - @plants.each do |p|
      %li
        %a{:href => "/plants/#{p.id}"}
          .p-top
            .class
            .name #{p.zh_name}
            
          = image_tag("#{p.picture_path("thumb")}", :alt => p.zh_name)

  = link_to "更多", "#", :class => "more"
