.single-main.setting
  %h1 上传植物图片
  = form_for(@plant,:html =>{:multipart => true}) do |f|

    %dl.form
      %dt
        = f.label :filedata, "植物照片："
      %dd
        = file_field_tag "filedata"
      
      %dt
        = f.label :zh_name, "中文名称：（选填）"
      %dd
        = f.text_field :zh_name      

      %dt
        = f.label :zh_name, "笔记：（选填）"
      %dd
        %textarea{:style => "width:90%"}

      %dt.submit
        = f.submit '保 存'