.single-main.setting
  %h1 上传植物图片
  = form_for(@plant,:html =>{:multipart => true}) do |f|

    %dl.form
      / %dt
      /   = f.label :zh_name, "中文名称："
      / %dd
      /   = f.text_field :zh_name
      /   待选

      %dt
        = f.label :filedata, "你的植物照片："
      %dd
        = file_field_tag "filedata"

      %dt
        = f.label :zh_name, "你的感想："
      %dd
        %textarea

      %dt.submit
        = f.submit '上 传'


  -#
    = link_to "上传植物照片", "javascript:void(0)", :class => 'upload'
