.single-main
  = form_for @plant do |f|
    = link_to "上传植物照片", "javascript:void(0)", :class => 'upload'
    %p.tips
      尺寸不小于500 x 500 px，请以植物图为主，无关图片会被无情删除，谢谢合作。
    
    /类似照片简介，但是是在上传照片后再进入编写，此处js支持。
    /
      %dl.form
        %dt
          = f.label :info, "你的心得："
        %dd
          %textarea
      
        %dd.submit
          = f.submit '保 存'

-if @plant.errors.any?
  #error_explanation
  %h2= "#{pluralize(@plant.errors.count, "error")} prohibited this plant from being saved:"
  %ul
    - @plant.errors.full_messages.each do |msg|
      %li= msg