.title
  - if @plant.zh_name.blank?
    %b 待鉴定
  - else
    %b= @plant.zh_name

  - if @plant.english_name.blank?
  - else
    = @plant.english_name
  - if @plant.latin_name.blank?
  - else
    | 
    = @plant.latin_name

  = link_to "[鉴定]", edit_plant_path(@plant)

.plant
  = link_to image_tag(@plant.picture_path, :alt => "@plant.zh_name"), "#"
  .slide-nav
    .left-nav
    .right-nav
.plant-info
  .lt
    .character
      .ico-flower-h6.ico{:title => "乔木"}
        = link_to "乔木", "#"
      .ico-flower-fwmouth.ico{:title => "唇形"}
      .ico-flower-red.ico{:title => "红花"}
  .rt
    %ul
      %li
        %em> 
          = link_to "木兰科", "#"
        latin
      %li
        %em>
          = link_to "木兰属", "#"
        latin
      %li
        %em> 783
        喜爱
    %a.ico-ui-follow.follow{:href => "jacascript:void(0);"}
.content
  .content-left
    .photo-info
      .lp
        = link_to image_tag("http://placehold.it/50x50", :alt => "人名"), "/user"
      .rp
        %p
          = link_to "人名", "/user"
          2012-1-22 LX5 于上海
          &nbsp;
          = link_to "[编辑]", "javascript:void(0);" , :class => "edit-description"
        .description
          发布者说明。
    %article
      %p
        - if @plant.description.blank?
          暂无介绍噢。
        - else
          = @plant.description
        = link_to "[编辑]", edit_plant_path(@plant)
    %h3.comment-title 评论
    %ul.comments
      = render 'comm'


  .content-right
    .p-slide
      .p-slide-nav
        /.left-nav
        .right-nav
          = link_to '', "#"
      .p-t 发布者的其它笔记
      /repeat 10
      %ul
        /= render 'slide'

    .p-slide
      .p-slide-nav
        /.left-nav
        .right-nav
          = link_to '','#'
      .p-t 同科植物
      /repeat 10
      %ul
        / = render 'slide'

    .copyright
      .publisher
        .lp
          %a{:href => "/user", :title => "九间"}
            %img{:alt => "九间", :src => "http://placehold.it/50x50"}/
        .rp
          来自
          %a{:href => "/user", :title => "九间"}> 九间
          的笔记
          %br/
          共同编辑：
          %a{:href => "/user", :title => "九间"}> 九间
          、
          %a{:href => "/user", :title => "九间"} 九间
          /= succeed "\u{7248}\u{6743}\u{6240}\u{6709}\u{ff0c}\u{4e0d}\u{5f97}\u{80e1}\u{6765}" do

%p#notice= notice

