= render :partial => "pictures/comment_item", :collection => @picture.comments, :as => :comment
- @picture.comments.each do |c|
  - u = c.user
  %li
    .lp
      = link_to image_tag(u.avatar_path, :alt => u.name), u.link
    .rp
      %p
        = link_to u.name, u.link
        = c.content
      %p.date c.created_at


%li#comment-li
  .lp
    = link_to image_tag(current_user.avatar_path, :alt => current_user.name), current_user.link
  .rp
    #comment
      %textarea.comm-content
      %button{:type => "submit", :id => "comment-btn"} 保 存