.title
  %b= @picture.plant_name
  - if @plant.blank? || @plant.english_name.blank?
  - else
    = @plant.english_name
  - if @plant.blank? || @plant.latin_name.blank?
  - else
    | 
    = @plant.latin_name
.plant
  = link_to image_tag(@picture.image.url(:page_size), :alt => "@plant.zh_name"), "#"
  .slide-nav
    .left-nav
    .right-nav
.plant-info
  .lt
    .character
      .ico-flower-h6.ico{:title => "乔木"}
      .ico-flower-fwmouth.ico{:title => "唇形"}
      .ico-flower-red.ico{:title => "红花"}
  .rt
    %ul
      %li
        %em> 木兰科
        latin
      %li
        %em> 其它属
        latin
      %li
        %em> 783
        喜爱
    %a.ico-ui-follow.follow{:href => "jacascript:void(0);"}
.content
  .content-left
    .photo-info
      .lp
        = link_to image_tag(@user.avatar_path, :alt => @user.name), @user.link
      .rp
        %p
          = link_to @user.name, @user.link
          2012-1-22 LX5 于上海
        %div
          = @picture.desc
    %article
      %p
        -# if @plant.descript.blank?
          暂无介绍噢。
        -# else
          -#= @plant.descript
        - if @plant.blank?
          = link_to "[编辑]", new_plant_path(:picture_id => @picture.id)
        - else
          = link_to "[编辑]", edit_plant_path(@plant,:picture_id => @picture.id)
    %h3.comment-title 评论
    %ul.comments
      = render 'pictures/comm'


  .content-right
    .p-slide
      .p-slide-nav
        .left-nav
        .right-nav
      .p-t 发布者的其它笔记
      /repeat 10
      %ul
        = render :partial => 'picture_item', :collection => @user_pictures

    .p-slide
      .p-slide-nav
        .left-nav
        .right-nav
      .p-t 同科植物
      /repeat 10
      %ul
        -#= render 'plants/slide'

    .copyright
      .publisher
        .lp
          %a{:href => "/user", :title => "九间"}
            %img{:alt => "九间", :src => "http://placehold.it/50x50"}/
        .rp
          来自
          %a{:href => "/user", :title => "九间"}> 九间
          的笔记
          %br/
          共同编辑：
          %a{:href => "notebook.html", :title => "九间"}> 九间
          、
          %a{:href => "notebook.html", :title => "九间"} 九间
          /= succeed "\u{7248}\u{6743}\u{6240}\u{6709}\u{ff0c}\u{4e0d}\u{5f97}\u{80e1}\u{6765}" do

%p#notice= notice

