.title
  - if @picture.plant_name['zh'].blank?
    %b 待鉴定
  - else
    %b= @picture.plant_name['zh']
  %b= @picture.plant_name['english']
  - if @picture.plant_name['latin']
    | 
    %b= @picture.plant_name['latin']

.plant
  = link_to image_tag(@picture.image.url(:page_size), :alt => @picture.plant_name['zh']), "#"
  .slide-nav
    .left-nav
    .right-nav
.plant-info
  .lt
    .character
      .ico-flower-h6.ico{:title => "乔木"}
        = link_to "乔木", "#"
      .ico-flower-fwmouth.ico{:title => "唇形"}
      .ico-flower-red.ico{:title => "红花"}
  .rt
    %ul
      %li
        %em= @picture.plant_porder_name
        
      %li
        %em= @picture.plant_genus_name
        
      %li
        %em> 783
        喜爱
    %a.ico-ui-follow.follow{:href => "jacascript:void(0);"}
.content
  .content-left
    .photo-info
      .lp
        = link_to image_tag(@user.avatar_path, :alt => @user.name), @user.link
      .rp
        %p
          = link_to @user.name, @user.link
          = date_time(@picture.created_at)
          &nbsp;
          = link_to "[编辑]", "javascript:void(0);" , :class => "edit-description"
        .description
          = @picture.describe_info['desc']
    %article
      - if @plant.blank?
        = link_to "[编辑]", new_plant_path(:picture_id => @picture.id)
      - else
        = @picture.plant_description
        = link_to "[编辑]", edit_plant_path(@plant,:picture_id => @picture.id)
    %h3.comment-title 评论
    %ul.comments
      = render 'pictures/comm'

  .content-right
    .p-slide
      .p-slide-nav
        /.left-nav
        .right-nav
          = link_to '', "#"
      .p-t 发布者的其它笔记
      /repeat 10
      %ul
        /= render 'slide'

    .p-slide
      .p-slide-nav
        /.left-nav
        .right-nav
          = link_to '','#'
      .p-t 同科植物
      /repeat 10
      %ul
        / = render 'slide'

    .copyright
      .publisher
        .lp
          %a{:href => "/user", :title => "九间"}
            %img{:alt => "九间", :src => "http://placehold.it/50x50"}/
        .rp
          来自
          %a{:href => "/user", :title => "九间"}> 九间
          的笔记
          %br/
          共同编辑：
          %a{:href => "/user", :title => "九间"}> 九间
          、
          %a{:href => "/user", :title => "九间"} 九间
          /= succeed "\u{7248}\u{6743}\u{6240}\u{6709}\u{ff0c}\u{4e0d}\u{5f97}\u{80e1}\u{6765}" do

%p#notice= notice

